server.modules = ( "mod_access",
                   "mod_fastcgi",
                   "mod_accesslog",
                   "mod_staticfile" )

server.document-root = "/path/to/basedir"
server.errorlog      = "/var/log/lighttpd/error.log"
server.port          = 80
accesslog.filename   = "/var/log/lighttpd/access.log"

fastcgi.server = (
                  "/" =>
                    ( "127.0.0.1" =>
                      (
                        "host" => "127.0.0.1",
                        "port" => 5000,
                        "check-local" => "disable",
                        # note: this is for lighttpd < 1.5.
                        # for 1.5, apparently you do instead:
                        # proxy-core.allow-x-sendfile = "enable"
			"allow-x-send-file" => "enable"
                      )
                    )
                )
