# test rule file.

# comments and blank lines are ignored.
08/01/2005-12/01/2006: default

>08/08/2006: pre: [lumpy.mp3], post: []

shows/bl/*: 
  pre: [intro/bl.mp3, ad/generic.mp3]
  post: [outro/bl.mp3]

regex:"^/shows/(?P<nick>[a-z][a-z0-9]+)/(?P=nick).*\.mp3" [I]: 
  pre: [intro/newyear.mp3], post: []

=01/20/2001 [F, fmt=MMDDYYYY]: [
   shows/studio/*: 
      pre: []
      post: [outro/studio.mp3]
   shows/pingpong/*:
      pre: [foomanchu.mp3,bingo.mp3]
      post: []
   pre: [plop.mp3], post: []
   ]
default